<div class="mt-3 px-0">

    <div class="form-group mb-0">
      <div class="input-group input-group-lg input-group-merge rounded-pill bg-white">
        <input type="text" class="form-control form-control-flush"  placeholder="Escribe tu código" aria-label="Escribe tu c&oacute;digo"
               (keyup.enter)="verify($event)"
               ([ngModel])="valueVerify">
        <div class="input-group-append">
          <button class="btn xertify-btn-verificator" type="button"> <i class="fa fa-check-circle" aria-hidden="true"></i> </button>
        </div>
      </div>
    </div>
    <div class="alert alert-modern alert-danger mt-2" role="alert"> <strong class="pr-0 pl-2">Código incorrecto, intentalo nuevamente </strong> </div>

</div>
